.c-form-btn {
    background: var(--background-color);
    color: var(--font-color);
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;

    &:disabled {
        opacity: 0.8;
    }

    &:hover {
        opacity: 0.8;
        transition: all 0.5s ease;
    }
}