.c-dropdown {
  position: relative;
  overflow: visible;

  .dropdown {
    user-select: none;
    position: absolute;
    width: 150px;
    background: var(--background-color);
    box-shadow: 0px 0 10px 6px var(--shadow-color);
    border-radius: 8px;
    padding: 2px 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    white-space: pre-wrap;
    z-index: 99;

    .dropdown-icon {
      svg {
        height: 25px;
        width: 25px;
        stroke: var(--font-color-primary-1);
      }
    }
  }

  &.right .dropdown {
    bottom: 0px;
    left: 50px;
  }

  &.bottom .dropdown {
    top: 40px;
    right: 70px;
  }
}