.c-dropdown {
    position: relative;

    .dropdown {
        position: absolute;
        bottom: 0px;
        left: 50px;
        width: 150px;
        box-shadow: 0px 0 10px 6px var(--shadow-color);
        border-radius: 8px;
        padding: 2px 4px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 300;
        white-space: pre-wrap;
        z-index: 99;
    }
}