{
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "none",
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "singleAttributePerLine": false
}
