.c-round-checkbox {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease;

    appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:checked {
        background-color: var(--checked-background-color);
    }
}