.c-messages-scroll {
    height: 0;
    width: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: solid 2px var(--border-color-1);
    fill: var(--font-color-primary-0);
    opacity: 0;

    &:hover {
        background: var(--font-color-primary-0);
        fill: var(--font-color-primary-2);
    }

    &.visible {
        opacity: 1;
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    .arrow-icon {
        transform: rotateZ(90deg) translateX(2px) scale(1.1);
    }
}