.c-join-channel-modal {
    user-select: none;

    .base-modal {
        height: 570px;
        width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;


    }
}