.c-message {
    background: var(--message-background-color);
    padding: 3px 3px;
    width: fit-content;
    border-radius: 16px;
    max-width: 550px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.my-group {
        background: var(--my-message-background-color);
        color: var(--font-color-primary-2);
    }

    .message-text {
        padding: 6px 9px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-line;
        user-select: text;
    }

    .message-attachments {
        display: grid;
        gap: 3px;
    }
}