/* Dark Theme Colors */
$c-dark-primary-0: #945dda;
$c-dark-primary-1: #ffffff;
$c-dark-primary-2: #ff0000;
$c-dark-primary-3: #000000;

$c-dark-neutral-0: #323232;
$c-dark-neutral-1: #ffffff;
$c-dark-neutral-2: #ffffff;
$c-dark-neutral-3: #d6d6d63f;

$c-dark-secondary-0: #b1b1b1;
$c-dark-secondary-1: #00000010;
$c-dark-secondary-2: #ebebeb;
$c-dark-secondary-3: #535353;
$c-dark-secondary-4: #00000020;
$c-dark-secondary-5: #3f3f3f20;

/* Light Theme Colors */
$c-light-primary-0: #945dda;
$c-light-primary-1: #ffffff;
$c-light-primary-2: #ff0000;
$c-light-primary-3: #000000;

$c-light-neutral-0: #ffffff;
$c-light-neutral-1: #ffffff;
$c-light-neutral-2: #f5f5f5;
$c-light-neutral-3: #d6d6d63f;

$c-light-secondary-0: #b1b1b1;
$c-light-secondary-1: #00000010;
$c-light-secondary-2: #ebebeb;
$c-light-secondary-3: #535353;
$c-light-secondary-4: #00000020;
$c-light-secondary-5: #0000001f;

/* Common Theme Colors */
$c-black-0: #000000;
$c-white-0: #ffffff;
$c-purple-0: #945dda;
