@use 'colors' as *;

.app {
  .c-brand {
    --font-color-1: #{$c-purple-0};
  }

  .c-form-btn {
    --font-color: #{$c-white-0};
    --background-color: #{$c-purple-0};
  }
}

.app[data-theme="dark"] {
  --background-color: #{$c-dark-neutral-0};
  --shadow-color: #{$c-dark-secondary-1};
  --placeholder-color: #{$c-light-secondary-0};

  .c-nav-link {
    --font-color: #{$c-white-0};
  }

  .c-brand {
    --font-color-0: #{$c-white-0};
  }

  .c-form-input {
    --background-color: #{$c-white-0};
    --border-color: #{$c-light-secondary-0};
  }
}

.app[data-theme="light"] {
  --background-color: #{$c-light-neutral-0};
  --shadow-color: #{$c-light-secondary-1};
  --placeholder-color: #{$c-light-secondary-0};

  .c-nav-link {
    --font-color: #{$c-black-0};
  }

  .c-brand {
    --font-color-0: #{$c-black-0};
  }

  .c-form-input {
    --background-color: #{$c-white-0};
    --border-color: #{$c-light-secondary-0};
  }
}