@use 'colors' as *;

.app {
  --font-color-primary-0: #{$c-purple-0};
  --font-color-primary-1: #{$c-black-0};
  --font-color-primary-2: #{$c-white-0};

  .c-brand {
    --font-color-1: #{$c-purple-0};
  }

  .c-form-btn {
    --font-color: #{$c-white-0};
    --background-color: #{$c-purple-0};
  }
}

.app[data-theme='dark'] {
  --common-color-0: #{$c-dark-primary-4};
  --common-color-1: #{$c-dark-neutral-4};
  --background-color: #{$c-dark-neutral-0};
  --background-color-1: #{$c-dark-neutral-2};
  --background-color-2: #{$c-purple-0};
  --background-color-3: #{$c-black-0};
  --shadow-color: #{$c-dark-secondary-1};
  --placeholder-color: #{$c-dark-secondary-0};
  --border-color: #{$c-dark-secondary-4};
  --border-color-1: #{$c-purple-0};
  --icon-background-color: #{$c-dark-neutral-2};
  --error-color: #{$c-dark-primary-2};

  .p-login{
    --reset-password-link-color: #{$c-dark-primary-5};
  }

  .c-nav-link {
    --font-color: #{$c-white-0};
  }

  .c-brand {
    --font-color: #{$c-white-0};
  }

  .c-form-input,
  .c-date-input {
    --background-color: #{$c-white-0};
    --border-color: #{$c-dark-secondary-0};
    --text-fill-color: #{$c-black-0};
    --toggle-background-color: #{$c-dark-secondary-2};
    --toggle-stroke-color: #{$c-dark-secondary-3};
  }

  .c-sidebar {
    --background-color: #{$c-white-0};
    --background-item-color: #{$c-white-0};
    --border-color: #{$c-dark-secondary-5};
    --search-icon-background-color: #{$c-dark-neutral-2};
    --default-background-color: #{$c-dark-neutral-2};
    --default-item-color: #{$c-dark-primary-3};
  }

  .c-dropdown {
    --menu-icon-background-color: #{$c-dark-neutral-2};
  }

  .c-pagination {
    --current-index-color: #{$c-purple-0};
  }

  .c-channel {
    --hover-background-color: #{$c-dark-neutral-2};
    --font-color: #{$c-black-0};
    --selected-font-color: #{$c-white-0};
    --last-message-font-color: #{$c-black-0};
  }

  .c-base-modal {
    --modal-background-color: #{$c-dark-neutral-0};
    --modal-background-color-1: #{$c-dark-neutral-3};
    --border-color: #{$c-dark-secondary-4};
  }

  .c-round-checkbox {
    --border-color: #{$c-dark-secondary-4};
    --checked-background-color: #{$c-purple-0};
  }

  .c-message-list {
    --message-background-color: #{$c-light-neutral-2};
    --my-message-background-color: #{$c-purple-0};
  }
}

.app[data-theme='light'] {
  --common-color-0: #{$c-light-primary-4};
  --common-color-1: #{$c-light-neutral-4};
  --background-color: #{$c-light-neutral-0};
  --background-color-1: #{$c-light-neutral-2};
  --background-color-2: #{$c-purple-0};
  --background-color-3: #{$c-black-0};
  --shadow-color: #{$c-light-secondary-1};
  --placeholder-color: #{$c-light-secondary-0};
  --border-color: #{$c-light-secondary-4};
  --border-color-1: #{$c-purple-0};
  --icon-background-color: #{$c-light-neutral-2};
  --error-color: #{$c-dark-primary-2};

  .p-login{
    --reset-password-link-color: #{$c-light-primary-5};
  }

  .c-nav-link {
    --font-color: #{$c-black-0};
  }

  .c-brand {
    --font-color: #{$c-black-0};
  }

  .c-form-input,
  .c-date-input {
    --background-color: #{$c-white-0};
    --border-color: #{$c-light-secondary-0};
    --text-fill-color: #{$c-black-0};
    --toggle-background-color: #{$c-light-secondary-2};
    --toggle-stroke-color: #{$c-light-secondary-3};
  }

  .c-sidebar {
    --background-color: #{$c-white-0};
    --background-item-color: #{$c-white-0};
    --border-color: #{$c-light-secondary-5};
    --search-icon-background-color: #{$c-light-neutral-2};
    --default-background-color: #{$c-light-neutral-2};
    --default-item-color: #{$c-light-primary-3};
  }

  .c-dropdown {
    --menu-icon-background-color: #{$c-light-neutral-2};
  }

  .c-pagination {
    --current-index-color: #{$c-purple-0};
  }

  .c-channel {
    --hover-background-color: #{$c-light-neutral-2};
    --font-color: #{$c-black-0};
    --selected-font-color: #{$c-white-0};
    --last-message-font-color: #{$c-black-0};
  }

  .c-base-modal {
    --modal-background-color: #{$c-light-neutral-0};
    --modal-background-color-1: #{$c-light-neutral-3};
    --border-color: #{$c-light-secondary-4};
  }

  .c-round-checkbox {
    --border-color: #{$c-light-secondary-4};
    --checked-background-color: #{$c-purple-0};
  }

  .c-message-list {
    --message-background-color: #{$c-light-neutral-2};
    --my-message-background-color: #{$c-purple-0};
  }
}