.c-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;

    .first {
        color: var(--font-color);
    }

    .second {
        color: var(--font-color-1);
    }
}