.c-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        padding: 5px;
        flex: 0 0 60px;

        svg {
            height: 40px;
            width: 40px;
            border: solid var(--font-color-primary-0) 1px;
            border-radius: 50%;
        }
    }

    .brand {
        max-width: 0;
        overflow-x: hidden;
        transition: all 0.5s linear;
        text-align: right;
    }

    &.expand {
        justify-content: stretch;

        .logo {}

        .brand {
            max-width: 200px;
            transition: all 0.5s linear;
            flex: 1 1;
            padding-right: 30px;
        }
    }
}