.c-media-viewer-modal {
    user-select: none;

    .viewer-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent !important;
        border: none !important;
        max-height: 95%;
        width: 80%;

        .media-viewer {
            display: grid;
            place-items: center;

            .prev-item,
            .next-item {
                position: absolute;
                display: grid;
                place-items: center;
                cursor: pointer;

                .arrow-icon {
                    height: 180px;
                    width: 55px;
                    border-radius: 25px;
                    transition: all 0.3s ease;

                    svg {
                        transform: scale(2) scaleY(1.5) rotateY(180deg);
                        fill: var(--font-color-primary-2);
                        opacity: 1;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        box-shadow: 0px 0 10px 6px var(--shadow-color);
                        background: var(--background-color);

                        svg {
                            fill: var(--common-color-0);
                        }
                    }
                }
            }

            .prev-item {
                left: -100px;
            }

            .next-item {
                right: -100px;
                transform: rotateY(180deg);
            }

            .viewer-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .image {
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 30px;
                    cursor: pointer;
                }

                .media-loader {
                    width: 90px;
                    height: 100%;
                    display: grid;
                    place-items: center;

                    svg {
                        width: 60px;
                        height: 60px;
                        stroke: var(--common-color-0);
                    }
                }
            }
        }
    }
}