.c-new-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 45px;
    padding: 0 20%;
    margin-bottom: 30px;

    .attachments {
        user-select: none;
    }

    .message-input {
        border: solid 1px var(--border-color);
        border-radius: 25px;
        width: 460px;
        padding: 12px 12px;
        background: var(--background-color-1);
        display: flex;
        align-items: center;
        transition: all 0.3s ease;

        &.focused {
            border-color: var(--border-color-1);
        }

        textarea {
            padding: 3px 15px;
            max-height: 70px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            background: transparent;
            font-family: 'Roboto', sans-serif;
            resize: none;
            white-space: pre-line;

            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--font-color-primary-0);
            }
        }
    }

    .send-btn {
        min-height: 50px;
        min-width: 50px;
        border: none;
        border-radius: 50%;
        background: var(--font-color-primary-0);
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        display: grid;
        place-items: center;
        user-select: none;

        &:hover {
            opacity: 0.9;
        }
    }
}