.c-preview-attachment {
    display: grid;
    place-items: center;
    position: relative;
    margin: 4px 2px;

    .img-loader {
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        background: var(--background-color-3);
        border-radius: 8px;

        svg {
            width: 80%;
            height: 80%;

            circle {
                fill: var(--font-color-primary-2);
                opacity: 1;

            }
        }
    }

    .preview-file {
        height: 60px;
        width: 60px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 8px;
    }
}