.c-pagination {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;

  .pagination-previous,
  .pagination-next {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: solid 1px transparent;
    gap: 2px;

    &:hover {
      border-color: var(--border-color);
    }

    .pagination-arrow {
      .pagination-arrow-icon {
        transform: scale(0.8);
      }
    }

    .pagination-text {
      padding: 0 4px;
    }
  }

  .pagination-previous {
    .pagination-arrow {
      transform: rotateY(180deg);
    }
  }

  .pagination-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    gap: 6px;

    .current-index {
      color: var(--current-index-color);
    }
  }
}
