.p-chat {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background: var(--background-color-1);
  border-radius: 20px 0 0 20px;

  

  .chat {
    flex: 1 1;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: all 0.2s ease-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    .chat-header-container {
      height: 59px;
      margin-left: 3px;

      .chat-header {}
    }

    .chat-content {
      .chat-messages {}

      .chat-input {}
    }
  }
}