.c-message-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;

    .list {
        margin: 5px;
        height: 100%;
        padding: 40px 25%;
        display: flex;
        flex-direction: column-reverse;
        gap: 3px;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--font-color-primary-0);
        }

        .message-enter {
            opacity: 0;
        }

        .message-enter-active {
            opacity: 1;
            transition: all 0.1s ease-out;
        }

        .message-exit {
            opacity: 1;
        }

        .message-exit-active {
            opacity: 0;
            transition: all 0.1s ease-out;
        }
    }
}