.c-create-ai-channel-modal {
    user-select: none;

    .base-modal {
        height: 650px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        .header {
            flex-basis: 38px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 13px 15px;
            border-bottom: solid 1px var(--border-color);

            .brand {
                padding-left: 8px;
            }
        }
    }
}