.c-sidebar {
  position: relative;
  flex: 0 0 62px;
  transition: all 0.6s ease;
  border-radius: 14px;
  border: solid 1px var(--border-color);
  box-shadow: 0px 0 15px 6px var(--shadow-color);
  background: var(--background-color);
  margin: 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  user-select: none;

  &:hover {
    .sidebar-expander-container {
      display: grid;
    }
  }

  &.expand {
    flex: 0 0 250px;
    transition: all 0.6s ease;

    .sidebar-expander svg {
      transform: scaleX(-1);
    }
  }

  .sidebar-expander-container {
    position: absolute;
    top: 15px;
    right: -35px;
    display: none;
    width: 35px;
    height: 35px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    border: solid 1px var(--border-color);
    place-items: center;
    background: var(--background-color);
  }

  .sidebar-header-container {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-search-container {
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-items-container {
    flex: 1 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    padding: 15px 8px;
  }

  .sidebar-theme-container {
    flex: 0 0 80px;
  }

  .sidebar-profile-container {
    flex: 0 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
