.c-page-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .page-header-text {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--border-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-left: 8px;
  }

  .page-header-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 50px;
    border-bottom: solid 1px var(--border-color);
    gap: 4px;

    .header-item {
      height: 35px;
      width: 50px;
      display: grid;
      place-items: center;
      border: solid 1px var(--border-color);
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover{
        border-color: var(--border-color-1);
        color: var(--font-color-primary-0);
      }
    }
  }
}